<p class="titulo">{{ titulo }}</p>
<form [formGroup]="usuarioForm.baseForm">
  <mat-form-field>
    <mat-label>Cedula</mat-label>
    <input matInput formControlName="cedula" [readonly]="!isCreate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido1</mat-label>
    <input matInput formControlName="apellido1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido2</mat-label>
    <input matInput formControlName="apellido2" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha Ingreso</mat-label>
    <input type="date" matInput formControlName="fecha_ingreso" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo</mat-label>
    <input matInput formControlName="correo" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rol</mat-label>
    <input matInput formControlName="rol" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="contrasena" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <input matInput formControlName="estado" />
  </mat-form-field>
</form>

<div>
  <button mat-button color="primary" (click)="guardar()">Guardar</button>
</div>
